body {
  min-width: 300px;
}

.frmf-logo {
  width: 100px;
  filter: grayscale(1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.accompagnanteurs-recevante > div:nth-child(even) > div,
.accompagnanteurs-visiteuse > div:nth-child(odd) > div,
.joueurs-recevante > div:nth-child(even) > div,
.joueurs-visiteuse > div:nth-child(odd) > div {
  background-color: #dee2e6;
  border-color: #4d4d4d !important;
}

.flc:first-letter {
  text-transform: capitalize;
}

/* // */

.ras-reserve-recevante,
.ras-reserve-visiteuse {
  background-image: radial-gradient(#858585 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
  background-color: #ffffff;
  background-position: 0 0, 50px 50px;
  background-size: 5px 5px;
  height: 300px;
  width: 100%;
}

.reserve-qualification {
  min-height: 200px;
}

/* // */

.reserve-technique-default {
  background-image: radial-gradient(#858585 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
  background-color: #ffffff;
  background-position: 0 0, 50px 50px;
  background-size: 5px 5px;
  min-height: 150px;
}

@media (max-width: 1000px) {
  .club-en-presence {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  .club-en-presence {
    font-size: 19px;
  }
}

@media (max-width: 800px) {
  .club-en-presence {
    font-size: 19px;
  }
  .ras-reserve-visiteuse,
  .ras-reserve-recevante {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .club-en-presence {
    font-size: 19px;
  }
}

@media (max-width: 600px) {
  .club-en-presence {
    font-size: 19px;
  }
  .text-num-licence {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .club-en-presence {
    font-size: 16px;
  }

  .text-num-licence {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .club-en-presence {
    font-size: 14px;
  }

  .equipe-recevante {
    font-size: 16px;
  }

  .text-num-licence {
    font-size: 13px;
  }
}

@media (max-width: 300px) {
  .club-en-presence {
    font-size: 12px;
  }

  .text-num-licence {
    font-size: 11px;
  }
}

/* // */

@media (min-width: 1px) {
  body {
    /* background-color: rgb(230, 255, 255); */
  }

  .nom-joueur-head {
    border-top-width: 0 !important;
    border-bottom-width: 1px !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
  .nom-joueur {
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
  .num-joueur-head,
  .num-joueur {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 1px !important;
  }
}

@media (min-width: 992px) {
  body {
    /* background-color: rgb(255, 255, 223); */
  }
  .nom-joueur-head,
  .nom-joueur {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
  }
  .num-joueur-head,
  .num-joueur {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
}

@media (min-width: 1200px) {
  body {
    /* background-color: rgb(255, 228, 234); */
  }
}
